<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Note</title>
  </head>
  <body>
    {% include "lab4_navbar.html" %}
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">To</th>
                <th scope="col">From</th>
                <th scope="col">Title</th>
                <th scope="col">Message</th>
            </tr>
        </thead>
      <!-- TODO loop from Friend model -->
      <tbody>
        {% for note in notes%}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ note.to }}</td>
                <td>{{ note.From }}</td>
                <td>{{ note.title }}</td>
                <td>{{ note.message }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
