<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Note</title>
  </head>
  <body>
    {% include "lab4_navbar.html" %}
    <h4>Add Note</h4>
    <form action = "" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary" value="submit">Submit</button>
    </form>
    {% if failed %}
       <p>Pengisian gagal</p>
    {% endif %}
  </body>
</html>
