<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Note</title>
  </head>
  <body>
    {% include "lab4_navbar.html" %}
    <h2>Notes</h2>
    <div class="row">
    {% for note in notes%}
        <div class="col-sm-6">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">To: {{ note.to }}, From: {{ note.From }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ note.title }}</h5>
                    <p class="card-text">{{ note.message }}</p>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:"2" %}
        </div>
        <div class="row">
        {% endif %}
    {% endfor %}
    </div>
  </body>
</html>
